<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
    <link rel='stylesheet' href="./css/style.css">
</head>

<body>
    <div class='main-content'>
        {{>header}}
        <p>For any help please contact: {{contact}}</p>
    </div>

    {{>footer}}
</body>
</body>

</html>